[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/fuse-flywheel"]
	path = lib/fuse-flywheel
	url = https://github.com/fei-protocol/fuse-flywheel
[submodule "lib/flywheel-v2"]
	path = lib/flywheel-v2
	url = https://github.com/fei-protocol/flywheel-v2
